.menu-burger {
    display: block;
    position: relative;
    z-index: 9995;
    width: 60px;
    height: 100%;
    margin: 0px 20px;
}

.menu-burger>span,
.menu-burger>span::before,
.menu-burger>span::after {
    content: "";
    display: block;
    width: 60px;
    height: 2px;
    background: white;
    position: absolute;
    top: 50%;
}

.menu-burger>span::before {
    transform: translateY(-14px);
}

.menu-burger>span::after {
    transform: translateY(12px);
}

.menu-burger:hover {
    cursor: pointer;
}