html, #override {
    height: 100%;
}

.page {
    height: 100vh;
}

.wrapper {
    display: grid;
    padding-top: 60px;
    min-height: max-content;
    height: 100%;
    background-color: black;
    background-image: url(../img/back2.jpg);
    background-size: contain;
    background-repeat: no-repeat;
}

.content {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 50px 95px;
    height: 100%;
    background: white;
}

.content h1 {
    font-size: 144px;
    font-weight: bolder;
    margin-bottom: 0px;
}

.content h2 {
    font-weight: bold;
    font-size: 36px;
    margin-bottom: 15px;
}

.content p {
    margin: 4px;
}