.option {
    font-weight: lighter;
    margin: 0px 20px;
}

.option-highlighted {
    font-weight: normal;
}

.option-highlighted:after {
    content: '';
    display: block;
    width: 100%;
    height: 2px;
    background: white;
}

.films-container>.film-list {
    list-style-type: none;
    padding: 0;
    height: 500px;
    display: grid;
    margin: 0px 17px;
    overflow-y: auto;
}

.films-container {
    /* width: 1090px; */
    /* align-self: center; */
    height: 650px;
    background: black;
    color: white;
}

.films-header {
    height: 115px;
}

.films-header .filter {
    padding: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.films-header .vl {
    width: 1px;
    background: #C2C2C2;
    height: 36px;
}

.film {
    display: flex;
    align-items: center;
    /* grid-template-areas:
        "film-poster film-name"
        "film-poster film-desc"
        "film-poster film-desc"; */
    color: black;
    height: 150px;
    margin: 8px 0px;
    padding: 22px;
    margin-right: 6px;
    background-color: white;
    cursor: pointer;
}

.film>img {
    /* grid-area: "film-poster"; */
    align-self: center;
}

.film .name {
    grid-area: "film-name";
    font-size: 24px;
}

.film .description {
    grid-area: "film-desc";
    font-size: 14px;
}

.film>.info {
    margin: 0px 15px;
    align-self: baseline;
}

.film>.info>.description {
    margin: 0px;
    font-size: 14px;
}

.film:hover {
    background: #ccc;
}

/* scroll bar for films */
.film-list::-webkit-scrollbar {
    width: 8.5px;
}

.film-list::-webkit-scrollbar-thumb {
    background: white;
    border-radius: 4px;
}

/* for firefox */
.film-list {
    scrollbar-color: white black;
    scrollbar-width: thin;
}