.news-container {
    height: 770px;
    background: white;
    color: black;
}

.news-container>.news-header {
    padding: 15px 0;
    font-size: 24px;
}

.news-container>hr {
    margin: 0px 15px;
}

.news-header>h4 {
    margin: 0px 40px;
}

.news-container>.news-list {
    list-style-type: none;
    padding: 0;
    height: 700px;
    overflow-y: auto;
    margin: 0px 14px;
}

/* .news-list>hr {
    margin: 0px;
} */
.news {
    display: flex;
    flex-direction: row;
    /* height: 165px; */
    padding: 40px 0px;
    margin-right: 6px;
    border-bottom: 1px solid black;
}

.news>img {
    /* height: 100%; */
    align-self: center;
    padding-left: 22px;
}

.news>.info {
    height: auto;
    margin: 0px 15px;
}

.news>.info>.name {
    margin-top: 2px;
    margin-bottom: 3px;
    font-size: 36px;
}

.news>.info>.description {
    margin: 0px;
    font-size: 14px;
}

.news>.info>.description::after {
    content: 'Читать дальше...';
    font-style: italic;
    color: #B10707;
    cursor: pointer;
}

.news>.info>.description:hover::after {
    text-decoration: underline;
}

.news:hover {
    background: #ccc;
}

/* scroll bar for news */
.news-list::-webkit-scrollbar {
    width: 8.5px;
}

.news-list::-webkit-scrollbar-thumb {
    background: black;
    border-radius: 4px;
}

.news-list {
    scrollbar-color: black white;
    scrollbar-width: thin;
}