.news-container {
    height: 730px;
    background: white;
    color: black;
}

.news-container>.news-header {
    padding: 15px 0;
    font-size: 24px;
}

.news-container>hr {
    margin: 0px 15px;
}

.news-header>h4 {
    margin: 0px 40px;
}

.news-container>.news-list {
    list-style-type: none;
    padding: 0;
    height: 670px;
    overflow-y: auto;
    margin: 0px 14px;
}

.news {
    display: flex;
    flex-direction: row;
    /* height: 165px; */
    padding: 40px 0px;
    margin-right: 12px;
    border-bottom: 1px solid black;
}

.news>img {
    /* height: 100%; */
    align-self: center;
    padding-left: 22px;
}

.news>.contents {
    height: auto;
    margin: 0px 15px;
    display: flex;
    flex-direction: column;
}

.news .info {
    font-size: 18px;
    color: #C4C4C4;
    align-self: flex-end;
}

.news .info span {
    margin-right: 7px;
}

.news .info .comments {
    cursor: pointer;
}

.news .info>.comments::before {
    content: url(../img/icons/comments.svg);
    width: 100%;
    margin-right: 4px;
}

.news .info>.date-of-creation::before {
    content: url(../img/icons/date.svg);
    margin-right: 4px;
    width: 100%;
}

.news>.contents>.name {
    margin-top: 2px;
    margin-bottom: 3px;
    font-size: 36px;
}

.news>.contents>.description {
    margin: 0px;
    font-size: 18px;
}

.news>.contents>.description::after {
    content: 'Читать дальше...';
    font-style: italic;
    color: #B10707;
    cursor: pointer;
}

.news>.contents>.description:hover::after {
    text-decoration: underline;
}

.news:hover {
    background: #EEEEEE;
}

/* scroll bar for news */
.news-list .simplebar-scrollbar::before {
    width: 8px;
    background-color: black;
    opacity: 1;
}

.news-list .simplebar-track .simplebar-scrollbar.simplebar-visible:before {
    opacity: 1;
}