.wrapper {
    display: flex;
    flex-direction: column;
    padding-top: 60px;
    min-height: 100%;
    background-color: black;
    background-image: url(../img/back2.jpg);
    background-size: contain;
    background-repeat: no-repeat;
}

.content h1 {
    font-size: 48px;
    color: #C11111;
    text-align: center;
}

.content h1::after {
    content: "";
    display: block;
    width: 100%;
    border-bottom: 1px solid black;
    margin: 20px 0px;
}

.content .info, .vacancy-form {
    background-color: white;
    padding: 30px 65px;
}

.content .info ul {
    display: flex;
    flex-direction: column;
    list-style: none;
    padding: 0px;
    margin: 0px;
}

.content .info li {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px 0px;
}

.content .info li img {
    width: 100px;
}

.content .info li:nth-child(2n+1)>p {
    margin-left: 35px;
}

.content p {
    font-size: 20px;
}

.vacancy-form {
    background: #EEEEEE;
}

@media screen and (max-width: 768px) {
    .content .info li {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 10px 0px;
    }

    .content .info li:nth-child(2n) {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        margin: 10px 0px;
    }

    .content .info li:nth-child(2n+1)>p {
        margin-left: 0;
    }

    .content .info li:nth-child(2n)>p {
        margin-right: 0;
    }
}

@media screen and (max-width: 480px) {
    .content .info, .vacancy-form {
        padding: 20px 55px;
    }

    .content h1 {
        font-size: 25px;
        color: #C11111;
        text-align: center;
        padding: 20px 65px 0px 65px;
    }

    .vacancy-form legend {
        font-size: 22px;
    }

    .content p {
        font-size: 18px;
    }
}